
@font-face {
    font-family: 'CabinRegular';
    src: url('../fonts/Cabin-Regular-webfont.eot');
    src: url('../fonts/Cabin-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Cabin-Regular-webfont.woff') format('woff'),
         url('../fonts/Cabin-Regular-webfont.ttf') format('truetype'),
         url('../fonts/Cabin-Regular-webfont.svg#CabinRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CabinItalic';
    src: url('Cabin-Italic-webfont.eot');
    src: url('Cabin-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('Cabin-Italic-webfont.woff') format('woff'),
         url('Cabin-Italic-webfont.ttf') format('truetype'),
         url('Cabin-Italic-webfont.svg#CabinItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CabinMedium';
    src: url('Cabin-Medium-webfont.eot');
    src: url('Cabin-Medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('Cabin-Medium-webfont.woff') format('woff'),
         url('Cabin-Medium-webfont.ttf') format('truetype'),
         url('Cabin-Medium-webfont.svg#CabinMedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CabinMediumItalic';
    src: url('Cabin-MediumItalic-webfont.eot');
    src: url('Cabin-MediumItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('Cabin-MediumItalic-webfont.woff') format('woff'),
         url('Cabin-MediumItalic-webfont.ttf') format('truetype'),
         url('Cabin-MediumItalic-webfont.svg#CabinMediumItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CabinSemiBold';
    src: url('Cabin-SemiBold-webfont.eot');
    src: url('Cabin-SemiBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('Cabin-SemiBold-webfont.woff') format('woff'),
         url('Cabin-SemiBold-webfont.ttf') format('truetype'),
         url('Cabin-SemiBold-webfont.svg#CabinSemiBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CabinSemiBoldItalic';
    src: url('Cabin-SemiBoldItalic-webfont.eot');
    src: url('Cabin-SemiBoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('Cabin-SemiBoldItalic-webfont.woff') format('woff'),
         url('Cabin-SemiBoldItalic-webfont.ttf') format('truetype'),
         url('Cabin-SemiBoldItalic-webfont.svg#CabinSemiBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CabinBold';
    src: url('Cabin-Bold-webfont.eot');
    src: url('Cabin-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('Cabin-Bold-webfont.woff') format('woff'),
         url('Cabin-Bold-webfont.ttf') format('truetype'),
         url('Cabin-Bold-webfont.svg#CabinBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CabinBoldItalic';
    src: url('Cabin-BoldItalic-webfont.eot');
    src: url('Cabin-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('Cabin-BoldItalic-webfont.woff') format('woff'),
         url('Cabin-BoldItalic-webfont.ttf') format('truetype'),
         url('Cabin-BoldItalic-webfont.svg#CabinBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
    margin: 12px;
    background-color: #eee;
    font-family: 'CabinRegular';
    height: 100%;
    color: #333;
}

#wrapper, header {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

#wrapper {
    backgroud-color: #fff;
    border: 1px solid #B7B7B7;
}

#page {
    width: 100%;
}

#content {
    border-top: 1px solid #B7B7B7;
    width: 100%;
    float: left;
    background-color: #fff;
}

#main {
    width: 60%;
    float: left;
    padding: 0 0 20px 0;
}

aside {
    width: 38%;
    background-color: #EEE;
    float: right;
    padding-bottom: 2em;
}

header {
    background-color: #FFF;
    width: 100%;
    overflow: hidden;
}

section {
    padding: 10px 20px 0 20px;
}

section {
    margin: 10px 0 0 0;
    color: #CD3F27;
}

#main section,
aside section {
    padding-left: 38px;
}

h2, h3, label {
    color: #000;
    font-weight: bold;
}

p {
    font-size: 14px;
    font-weight: normal;
    line-height: 1.4;
    color: #000;
    margin: 5px 0 15px 0;
    font-family: 'Arial';
}

#logo {
    position: relative;
    border-bottom: 1px solid #000;
    left: 138px;
    position: relative;
    height: 156px;
}

#logo img {
    position: absolute;
    top: 1px;
    left: -133px;
}

#logo h1 {
    position: absolute;
    bottom: 2px;
    font-size: 32px;
    left: -70px;
    font-weight: bold;
}

h2 {
    font-size: 28px;
    letter-spacing: 2px;
}

header h2 {
    padding: 15px 0 0 34px;
    font-size: 72px;
}

h3 {
    margin-top: 15px;
    font-size: 18px;
    font-weight: normal;
    font-style: italic;
}

header h3 {
    margin: 0 0 15px 0;
    letter-spacing: 2px;
    line-height: 1.6;
    font-size: 18px;
    text-indent: 38px;
}

dl {
    margin-top: 15px;
    margin-bottom: 40px;
}

dt img {
    position: relative;
    margin-bottom: -2px;
    margin-right: 10px;
}

dt {
    font-size: 24px;
}

dd {
    font-size: 14px;
    color: #333;
    line-height: 1.3;
    margin-bottom: 15px;
}

label {
    font-size: 14px;
    line-height: 1.8;
    display: none;
}

ul {
    color: #333;
}

ul li {
    font-size: 14px;
    display: block;
    background: url(../img/HC_smallpoint.png) no-repeat left 4px;
    padding-left: 24px;
    padding-bottom: 12px;
    line-height: 1.4;
}

form {
    margin: 10px 0 0 0;
}

input, textarea {
    display: block;
    background-color: #EEE;
    border: 0;
    height: 28px;
    width: 250px;
    border-radius: 3px;
    box-shadow: inset 2px 2px 6px rgba(0,0,0,0.5);
    margin-bottom: 15px;
    padding: 0 0 0 10px;
}

aside input, aside textarea {
    background-color: #FFF;
}

textarea {
    padding-top: 10px;
    width: 350px;
    height: 150px;
}

button, .button {
    border: 0;
    padding: 7px 10px;
    border-radius: 3px;
    margin: 0;
    -webkit-transition: background-color 0.2s linear;
}

.button {
    font-size: 14px;
    color: #333;
    text-decoration: none;
    background-color: rgba(220,220,220,0.5);
    border: 1px solid rgba(220,220,220,0.7);

}

button#submit {
    background-color: rgba(0,128,0,0.5);
    border: 1px solid rgba(0,128,0,0.7);
}

.button:hover {
    background-color: rgba(220,220,220,0.8);
    border: 1px solid rgba(220,220,220,0.1);
    text-decoration: underline;

}

button#submit:hover {
    background-color: rgba(0,128,0,0.8);
    border: 1px solid rgba(0,128,0,1);
}

button#cancel {
    background-color: rgba(204,0,0,0.5);
    border: 1px solid rgba(204,0,0,0.7);
}

button#cancel:hover {
    background-color: rgba(204,0,0,0.8);
    border: 1px solid rgba(204,0,0,1);
}

footer {
    background-color: #fff;
    border-radius: 0px 0px 5px 5px;
    border-top: 1px solid #B7B7B7;
    clear: both;
    width: 100%;
    padding: 5px 0;
}

footer p {
    margin: 0;
    font-size: 11px;
    text-indent: 20px;
    color: #999;
    padding-left: 18px;
}

div.links {
    padding: 15px 0;
}

#contactDetails {
    margin: 10px 0 15px 0;
}
